langchain_community
tiktoken
langchain-openai
langchain-groq
langchain-pinecone
langchainhub
chromadb
langchain
bs4
pypdf
rapidocr-onnxruntime
ipykernel
unstructured[all-docs]==0.10.19
pydantic
lxml
tesseract
#poppler
yt_dlp
pydub
librosa
faster-whisper
